.student{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DFDFDF;
  padding: 5px;
  font-size: 20px;
  transition: all .6s;
}
.student:hover{
  background-color: rgb(197, 197, 197);
  transition: all .6s;
}
.studentName:hover{
  cursor: pointer;
}
.fas{
  margin-left: 10px;
  color: red;
}
.fas:hover{
  cursor: pointer;
}